@font-face {
    font-family: "Boleh";
    src: url("../Assets/Fonts/Bolehs.ttf");
}

*{
    font-family: "Boleh", serif;
    color:#2d2d25;
}

.close-button{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    background-image: url("../Assets/Close.png");
    background-position: center;
    background-size: 35px;

   margin:top;
   z-index: 1000;
    
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box; 
    background-image: url("../Assets/Backgrounds/Background.png");
    background-size: 800px, 800px;

    position: relative;
    z-index: 0;
}

.app-border{
    border: 10px solid #7C9464; 
    padding: 10px; 
    min-height: 90vh;
    outline: 3px #58733C solid;
    outline-offset: -12px;
}

.titlebar {
    -webkit-app-region: drag;
    user-select: none;

    display: flex;
    height: 40px;
    width: calc(100% );
    align-items: last baseline;
    justify-content: center;
    background: #7C9464;

    font-size: 25px;
    z-index: 0;
}
.container {

  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-boarders{
    display: inline-block;
    margin: auto;
    background-color: #B1B78B;
    padding: 8px;
    border:3px #58733C solid;
    border-radius: 10px;
    box-shadow: 7px 7px 0px 0px #CC9922;
    position: relative;
    display: inline-block;
}

.img-with-text{
  display:inline-block;
  margin-right: 20px;
  font-size:20px;
  text-align:center;
  text-decoration:none;
}

h1{
    text-align: center;
    font-size: 50px;
}

.to-do-list{
    background-color: #B1B78B;
   
    box-shadow: 7px 7px 0px 0px #CC9922;
    position: relative;
    
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 540px;
    margin: 10px auto 20px;
    padding: 20px 20px 20px; 
    border:3px #58733C solid;
    border-radius: 10px;
    
}

.row{
    display: flex;
    align-items: center;
    justify-content:space-between;

    background-color: #ffffff;
    border:3px #2d2d25 solid;
    border-radius: 10px;
    box-shadow: 3px 3px 0px 0px #96b1a6;
    position: relative;

    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

