@font-face {
    font-family: "Boleh";
    src: url("../Assets/Fonts/Bolehs.ttf");
}

*{
    font-family: "Boleh", serif;
    color:#2d2d25;
}

.close-button{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    background-image: url("../Assets/Close.png");
    background-position: center;
    background-size: 35px;

    -webkit-app-region: no-drag; /* CRITICAL: Allows clicks to work */
    pointer-events: auto;
    z-index: 9999;
    
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box; 
    background-image: url("../Assets/Backgrounds/Background.png");
    background-size: 800px, 800px;

    position: relative;
    z-index: 0;
}

.app-border{
    border: 10px solid #7C9464; 
    padding: 10px; 
    min-height: 90vh;
    outline: 3px #58733C solid;
    outline-offset: -12px;
    z-index: 0;
}

.titlebar {
    -webkit-app-region: drag;
    pointer-events: none;

    display: flex;
    height: 40px;
    width: calc(100% );
    align-items: last baseline;
    justify-content: center;
    background: #7C9464;

    font-size: 25px;
    z-index: -1;
}

.img-with-text{
  display:inline-block;
  margin-right: 20px;
  font-size:20px;
  text-align:center;
  text-decoration:none;
}

h1{
    text-align: center;
    font-size: 50px;
}

.to-do-list{
    background-color: #B1B78B;
   
    box-shadow: 7px 7px 0px 0px #CC9922;
    position: relative;
    
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 540px;
    margin: 10px auto 20px;
    padding: 20px 20px 20px; 
    border:3px #58733C solid;
    border-radius: 10px;
    
}

.row{
    display: flex;
    align-items: center;
    justify-content:space-between;

    background-color: #dee4bf;
    border:3px #58733C solid;
    border-radius: 10px;
    position: relative;

    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.add-button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #B1B78B;
    color: #202020;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url("../Assets/Unchecked.png");
    background-size: cover;
    background-position: center;
    top:6px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url("../Assets/Checked.png");
}

ul li span{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #555;
    text-align: center;
    border-radius: 7px;
}

ul li span:hover{
    background: #e2d1bc;
}

